<appSettings>
<add key="ida:AppID" value="50eb89d3-0bb1-4c1e-b630-5735a8349c6f" />
<add key="ida:AppSecret" value="i1c=4deZmMROaO@qPw9.0_59W7=SVKLv" />
<!--<add key="ida:RedirectUri" value="https://localhost/graph-tutorial" />-->
  <add key="ida:RedirectUri" value="https://graphtutorialapp-env.i9k5fmmayc.us-east-2.elasticbeanstalk.com/" />
       <add key="ida:AppScopes" value="User.Read Calendars.Read" />
</appSettings>